

<hibernate-configuration>
    <session-factory>

        <!-- ================= DATABASE SETTINGS ================= -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/17feb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Sameer@2580</property>

        <!-- ================= HIBERNATE SETTINGS ================= -->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class = "f1.febcode"/>

    </session-factory>
</hibernate-configuration>
